header {
    border: 3px solid black;
    padding: 0.5rem;
    margin: 1rem;
}
header ul
{
    list-style: none;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header li{
    display: inline;
}

main {
    display: flex;
}
section {
    border: 3px black solid;
    margin: 1rem;
    flex:1;

}
aside {
    border: 3px black solid;
    margin: 1rem;
    flex:0.4;
    height: fit-content;
    padding-bottom: 5rem;
}
aside ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-decoration: underline;
    padding: 0;
    margin: 0.4rem 0 0 0.4rem;
}
aside ul li{
    padding-bottom: 0.2rem;
}

#btn-plus{
    position: fixed;
    border: 3px black solid;
    bottom: 2%;
    right: 2%;
    border-radius: 5rem;
    font-size: 2rem;
    width: 4rem;
    height: 4rem;
}

article {
    display: flex;
    border-bottom: 1px solid black;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
article p{
    text-align: justify;
    padding-right: 0.5rem;
}

.right-article{
    flex: 1;
}
.img-articolo{
    height: 15vh;
}
.article-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.article-navbar-left{
    display: flex;
}
@media (max-width:800px)
{
    main {
        flex-direction: column;
    }
    aside ul{
        flex-direction: row;
        justify-content: space-between;
    }
    aside {
        border: 0;
        padding: 0;
        margin-bottom: 0;
        margin-top: 0;
    }

    .img-articolo{
        height: 15rem;
    }

}

@media (max-width: 600px)
{
    article{
        flex-direction: column;
    }
    .img-articolo{
        height: 19rem;
    }
}